.pos_bestseller{
display: block;
margin-top: 50px;}
/* title */
.pos_bestseller .title_block{
position: relative;
padding-right: 70px;}
@media (max-width: 767px){
	.pos_bestseller .title_block{
	padding: 0;}
}
.pos_bestseller .title_block h3{
  display: block;
  color: #3a3d42;
  position: relative;
  margin: 0;
  text-transform: uppercase;
  font: 400 17px/35px 'Bitter', serif;
  border-top: 1px solid #b0b1b3;
  padding-top: 5px;}
.pos_bestseller .title_block h3:after{
content: "";
width: 80px;
position: absolute;
top: 2px;
display: block;
left: 0;
border-top: 3px solid #3a3d42;}
/* navi */
.pos_bestseller .navi{
position: absolute;
top: 0;
right: 0;}
@media (max-width: 767px){
.pos_bestseller .navi{
display: none;}
}
.pos_bestseller .navi a{
display: block;
float: left;
cursor: pointer;
width: 25px;
height: 25px;
line-height: 21px;
color: #818181;
position: relative;
text-align: center;
font-size: 15px;
margin: 0 0 0 5px;
border: 2px solid #3a3d42;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;}
.pos_bestseller .navi a:hover{
border-color: #c1a300;
color: #c1a300;}
/* content */
.pos_bestseller .block_content{
position: relative;
overflow: hidden;}
.pos_bestseller .owl-item{
padding: 0 15px;}
.pos_bestseller .item{
display: block;
overflow: hidden;
position: relative;
padding-top: 15px;
}
.pos_bestseller .item .home_tab_img{
background: #ededed;
position: relative;
overflow: hidden;
margin-right: 10px;
}
@media (min-width: 768px) and (max-width: 991px){
	.pos_bestseller .item .home_tab_img{
	float: none!important;
	margin-right: 0 0 10px!important;}
}
.pos_bestseller .item .home_tab_img img{
margin: 0 auto;}
.pos_bestseller .item .btn_content{
position: absolute;
top: 0;
height: 100%;
right: -70px;
width: 65px;
-webkit-transition: all 800ms ease;
-moz-transition: all 800ms ease;
-ms-transition: all 800ms ease;
-o-transition: all 800ms ease;
transition: all 800ms ease;}
.pos_bestseller .item:hover .btn_content{
right: 0;}
.pos_bestseller .item .btn_content .exclusive,
.pos_bestseller .item .btn_content a{
opacity: 0;
display: block;
position: relative;
color: #fff;
height: 25%;
background: rgba(70,  70, 70, 0.5);
border: 0;
border-bottom: 1px solid #fff;
margin: 0;
padding: 0;
font-size: 21px;
text-align: center;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;}
.pos_bestseller .item .btn_content .exclusive i,
.pos_bestseller .item .btn_content a i{
display: block;
width: 25px;
height: 25px;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;}
.pos_bestseller .item .btn_content a:hover,
.pos_bestseller .item .btn_content .add_to_compare.checked{
background: #ff5858;}
.pos_bestseller .item:hover .btn_content a{
opacity: 1;}
.pos_bestseller .item:hover .btn_content .exclusive{
-webkit-transition-delay: 100ms;
transition-delay: 100ms;}
.pos_bestseller .item:hover .btn_content .add_to_compare{
-webkit-transition-delay: 200ms;
transition-delay: 200ms;}
.pos_bestseller .item:hover .btn_content .addToWishlist{
-webkit-transition-delay: 300ms;
transition-delay: 300ms;}
@media (max-width: 1199px){
	.pos_bestseller .item .btn_content{
	right: 0;}
	.pos_bestseller .item .btn_content .exclusive,
	.pos_bestseller .item .btn_content a{
	opacity: 1;}
}
.pos_bestseller .item .product-name{
display: block;
font: 400 13px/20px 'Bitter', sans-serif;
text-transform: capitalize;
word-wrap: break-word;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
color: #000;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;}
.pos_bestseller .item .product-name:hover{
color: #c1a300;}
.pos_bestseller .item .comment_box{
display: block;
overflow: hidden;
margin: 5px 0;}
.pos_bestseller .item .comment_box .star_content{
display: block;
float: left;}
.pos_bestseller .item .comment_box .nb-comments{display: none;
}
.pos_bestseller .item .price-box {
padding-top: 3px;}
.pos_bestseller .item .price-box span{
display: inline-block;}
.pos_bestseller .item .price{
font: 700 15px/20px 'Oswald', serif;
color: #000;
margin-right: 10px;}
.pos_bestseller .item .old-price{
font: 400 13px/17px 'Oswald', serif;
text-decoration: line-through;
color: #888;
margin-top: 3px;}